/* palette */
/* light cyan CDEEF4 */
/* Off red #FA0000 */
/* mexican pink #E31C79 */
/* oxford blue #03012C */
/* byzantine blue #2F52E0 47, 82, 224*/
/* misty rose #FFE3E3 */

* {
  font-family:'Raleway';
  margin: 0px;
}

body {
  background: #CDEEF4;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

nav {
  height: 18vh;
  width: 99vw;
  background-color: rgb(3,1,44, .75);
  margin: 0px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  justify-content: center;
  border-bottom: 2mm ridge rgba(47, 82, 224, .6);
}

.name{
  padding-right: 15px;
}

.userName {
 padding-right: 15px;
}

.logo {
  color: white;
	font-size: 60pt;
	font-family: sans-serif;
  z-index: 1;
  position: absolute;
  -webkit-text-stroke: 2px #E21F03;
  position: absolute;
  text-shadow: 5px 6px 12px #E31C79;
  margin: 25px;
  font-kerning: none;
}

.managerView {
  display: flex;
}

.hotelInfo {
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #03012C;
  opacity: 75%;
  margin: 50px;
  border-radius: 15px;
}


.userBookingsSect{
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #03012C;
  opacity: 75%;
  overflow-y: scroll;
  margin: 50px;
  border-radius: 15px;
 }

 .form-wrapper {
  display: flex;
  flex-flow: column wrap; 
  align-items: center;
 }

 form{
  display: flex;
  flex-flow: column wrap;
 }

.dashboard {
  width: 200px;
  height: 100px;
  background: white;
  margin: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.current-bookings,
.available-bookings {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.available-bookings {
  height: 200px;
  width: 25vw;
}

h2 {
  margin-top: 10px;
  font-size: 24pt;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}

h3 {
  font-size: 18pt;
  display: flex;
  color: whitesmoke;
  padding: 10px;
  flex-direction: column;
}

h4 {
  font-size: 15pt;
  display: flex;
  color: whitesmoke;
  padding: 10px;
  flex-direction: column;
}

.label {
  color: whitesmoke;
  padding: 10px;
}

.room-type{
  text-transform: capitalize;
  color: #03012C;
}

.balance {
  color: #2F52E0;
  margin: 50px;
  padding: 25px;
  background-color: #03012C;
  width: 300px;
  border-radius: 15px;
}

.apology{
  color: whitesmoke;
  margin: 25px;
}

/* LOGIN PAGE STYLING */


h1 {
  color: red;
  color: white;
	font-size: 47px;
	font-family: sans-serif;
  z-index: 1;
  position: absolute;
}

.login-page{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}


.motel {
  -webkit-text-stroke: 3px #E21F03;
  margin-top: 125px;
  margin-left: 100px;
  writing-mode: vertical-rl;
  text-shadow: 0px 8px 12px blue;
  text-orientation: upright;
  font-size: 60pt;
}

.shape {
  width: 0; 
  height: 0; 
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 500px solid #f00;
  z-index: -5;
  position: relative;
  opacity: 75%;
}

.overlook {
  -webkit-text-stroke: 2px #E21F03;
  position: absolute;
  text-shadow: 0px 4px 8px white;
  margin-top: 50px;
  margin-left: 100px;
  font-size: 40pt;
  font-kerning: none;
}

.oval {
  width: 500px;
  height: 200px;
  border-radius: 50%;
  background: darkblue;
/*   opacity: 85%; */
/*   z-index: 1; */
/*   position: relative; */
}

.outside {
  margin-top: 100px;
  margin-left:100px;
}

.error {
  position: fixed;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 30vw;
  border-radius: 15px;
  height: 20vh;
  background-color: #f1f1f1;
  /* gap: 1rem; */
  top: 50%;
  left: 40%;
  box-shadow: 0px 0px 10px #03012C ;
  font-size: 15pt;
}


.hidden{
  display: none;
}




